.btn-primary{
    background-color: darkblue;
    border-color: darkblue;
}

.nash_logo{
    background-color: darkblue;
}

.cappuccino{
    background-color: linen;
}

.btn-outline-primary{
    border-color: darkblue;
    color: darkblue;
}

.btn-outline-primary:hover{
    background-color: darkblue;
}

.footer_bg{
    background-color: #f8f5ef;
}

.three_lined_menu {
    width: 100%;
}

/*for sign in button*/
#sign_in{
    background-color: transparent;
    border-color: transparent;
}

#nash_id{
    width: 90%;
    height: 90%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#box_nash_logo{
    width: 205px;
    height: 60px;
}

.first_nav_size{
    height: 35px;
    width: auto;
    font-size: 12px;
    padding-top: 0%;
    padding-left: 2%;
    text-align: center !important;
} 

#journal_title {
    font-size: 12px;
}

#blank_link {
    color: black
}

#blank_link:link {
    text-decoration: none;
}

#blank_link:visited {
    text-decoration: none;
}

#blank_link:hover {
    text-decoration: none;
}

#blank_link:active {
    text-decoration: none;
}

#third_col_img{
    width: 100%;
    height: 100%;
}

#footer_img{
    width: 60%;
    height: 60%;
}

#separator{
    width: 100%;
    height: 150px;
}

#commercial-menu {
    font-size: 14px;
    color: #254f9c;
}

#commercial-menu:link {
    text-decoration: none;
}

#commercial-menu:visited {
    text-decoration: none;
}

#commercial-menu:hover {
    text-decoration: underline;
}

#commercial-menu:active {
    text-decoration: none;
}

#crane-watch{
    font-size: 12px;
}

#section_link{
    color: black;
    text-decoration: none;
}

#section_link:hover{
    text-decoration: underline;
    color: blue;
}

#title_link{
    color: black;
}

#title_link:link{
    text-decoration: none;
}

#tile_link:active{
    text-decoration: none;
}

#title_link:hover{
    text-decoration: underline;
    color: blue;
}

#horizontal_section {
    color: black;
}

#horizontal_section:link {
    text-decoration: none;
}

#horizontal_section:active{
    text-decoration: none;
}

#horizontal_section:hover {
    text-decoration: underline;
}

#calendar_color{
    color: darkgoldenrod;
}

#card_body_color:hover{
    background-color: linen;
}

/*FIXME*/
border-top.event_border_top {
    border: darkgoldenrod;
}

border-top.event_border_top > thread > tr > th {
    border: darkgoldenrod;
}

border-top.event_border_top > thread > tr > td {
    border: darkgoldenrod;
}

.navbar_color{
    background-color: white;
}

.show_on_mobile {
    display: none;
}

@media only screen and (max-width: 1190px) {
    .remove_on_downscale {
        display: none !important;
    }
}

/* styles for mobile screens */
@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .hidden_on_mobile {
        display: none !important;
    }

    .show_on_mobile {
        display: flex;
        text-align: top;
    }
    
    .first_nav_size{
        height: 30px;
        width: auto;
        font-size: 12px;
        padding-top: 0%;
        padding-left: 2%;
        text-align: center !important;
    }

    .three_icon_phone{
        width: 50px;
    }

    .logo_phone{
        width: 300px;
        margin-left: 0px;
    }
}